{% extends 'mainapp/index.html' %}
{% load static %}

{% block title %}
    Stock Chart
{% endblock %}

{% block body %}
<div class="container">
    <h1>Stock Chart</h1>
    <p>Select a stock to view its chart.</p>

    <!-- Dropdown for selected stocks -->
    <label for="stock_selector">Choose a stock:</label>
    <select id="stock_selector" class="form-select">
        {% for stock in available_stocks %}
            <option value="{{ stock }}">{{ stock }}</option>
        {% endfor %}
    </select>
    
    <br>

    <!-- Button to load stock data -->
    <button  class="btn btn-primary">buy</button>

    <!-- Chart Container -->
    <div id="chart_container">oj</div>
</div>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
