{% extends 'mainapp/index.html' %}
{% load static %}
{% block title %} StockTracker {% endblock %}

{% block css %}
<style>
  .red { color: red; }
  .green { color: green; }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <h1>Live Stock Tracker</h1>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>SNo.</th>
          <th>Stock</th>
          <th>Price</th>
          {% comment %} <th>Previous Close</th> {% endcomment %}
          <th>Open</th>
          <th>high</th>
          <th>low</th>
          {% comment %} <th>Change</th> {% endcomment %}
          {% comment %} <th>Market Cap</th> {% endcomment %}
          <th>Volume</th>
        </tr>
      </thead>
      <tbody id="stock-data">
        {% for ticker, details in data.items %}
        <tr id="row-{{ ticker }}">
          <td>{{ forloop.counter }}</td>
          <td>{{ ticker }}</td>
          <td id="{{ ticker }}_price">{{ details.current_price }}</td>
          {% comment %} <td id="{{ ticker }}_prevprice">{{ details.previous_close }}</td> {% endcomment %}
          <td id="{{ ticker }}_open">{{ details.open_price }}</td>
          <td id="{{ ticker }}_high">{{ details.day_high }}</td>
          <td id="{{ ticker }}_low">{{ details.day_low }}</td>


          {% comment %} <td id="{{ ticker }}_change"></td> {% endcomment %}
          {% comment %} <td id="{{ ticker }}_cap">{{ details.market_cap }}</td> {% endcomment %}
          <td id="{{ ticker }}_vol">{{ details.volume }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

{%block js%}



    {{room_name|json_script:"room-name"}}
    <script>
      const roomName = JSON.parse(document.getElementById('room-name').textContent);
      var queryString = window.location.search;
      queryString = queryString.substring(1);
      console.log("Query String:", queryString);
    
      // Build WebSocket URL
      const wsUrl = 
        'ws://' +
        window.location.host +
        '/ws/stock/' +
        roomName +
        '/?' +  // Combine "/" and "?" into one string
        queryString;
    
      console.log("WebSocket URL:", wsUrl);
    
      // Initialize WebSocket connection
      const stockSocket = new WebSocket(wsUrl);

      stockSocket.onmessage = function(event) {
        console.log(event.data);
        const data = JSON.parse(event.data); // Parse JSON data 
        console.log(data);
      
        for (const [key, value] of Object.entries(data)) {
          document.getElementById(key + '_price').innerText = value['current_price'];
          document.getElementById(key + '_open').innerText = value['open_price'];
          document.getElementById(key + '_vol').innerText = value['volume'];
          document.getElementById(key + '_high').innerText = value['day_high'];
          document.getElementById(key + '_low').innerText = value['day_low'];
      
          
        }
      };
      
      stockSocket.onopen = function(event) {
        console.log("WebSocket connection opened:", event);
      };
    
      stockSocket.onerror = function(error) {
        console.error("WebSocket Error:", error);
      };
    </script>
{%endblock%}